/* google oswald fonts import */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
/* asterisk to override default margins and paddings */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: 'lato', sans-serif;
}
/* header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
}
h1 {
    font-family: 'oswald', sans-serif;
}
/* main */
main {
    background-color: beige;
    /* make main element grow as it contains main content */
    flex: 1 0 auto;
    
}
/* footer */
footer {
    background-color: blueviolet;
}