/* google oswald fonts import */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
/* asterisk to override default margins and paddings */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: 'lato', sans-serif;
}
/* header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

h1 {
    font-family: 'oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}
#menu {
    list-style-type: none;
    font-size: 110%;
    letter-spacing: 4px;
}
#menu li {
    margin-bottom: 1em;
}
.active {
    border-bottom: 1px solid #a55555;
}
header a {
    text-decoration: none;
    color: inherit;
  
}
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}
/* nav-toggle */
#nav-toggle:checked ~ nav {
    display: block;
   
}
.nav-toggle-label {
    font-size: 2rem;
}
#nav-toggle {
    display: none;
}
/* main */
main {
    background-color: beige;
    /* make main element grow as it contains main content */
    flex: 1 0 auto;
    margin-top: 47px;
    
}
/* footer */
footer {
    background-color: blueviolet;
    

}
footer ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



/* media query for tablets and larger screens (768px and up) */
@media (min-width: 768px) {
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;

    }
    .nav-toggle-label {
        display: none;
    }
    nav ul {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        
    }
    #menu li {
        padding-left: 1rem;
    } 
    /* psuh main down from the header */
    main {
        padding-top: 20px;;
    }
   
        
}
@media screen and (min-width: 922px) {
  #menu a:hover {
    border-bottom: 2px solid #3a3a3a;
         
    }
  
   
}